<p>
  jay works!
</p>

<h3>
  {{prasadText}}
</h3>

<br/>
<div>
  <!--
  <span *ngIf="isavailable==true">Condition is valid</span>
  <span *ngIf="isavailable==false">Condition is Invalid</span>
  <br/>
  <span *ngIf="isavailable==true; else condition1">Condition is valid</span>
  <ng-template #condition1>Condition is Invalid</ng-template>
  <br/>
  <span *ngIf="isavailable; then condition3 else condition4"></span>
  <ng-template #condition3>Condition is valid</ng-template>
  <ng-template #condition4>Condition is invalid</ng-template>
  <br/>
  
  <button (click)="myClickFunction($event)">Click Me</button>

  <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name">
TODO: remove this: {{model.name}}

  -->

  <button (click)="onClick()">Click Me</button>
  <button (click)="toggleEdit()">Edit User</button>

  <div *ngIf=isEdit>
    <h1>Edit User</h1>
    <form>
      <div>
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="name" name="name">
      </div>
      <div>
          <label for="email">Email: </label>
          <input type="text" [(ngModel)]="email" name="email">
        </div>
      <div>
          <label for="age">Age: </label>
          <input type="number" [(ngModel)]="age" name="age">
      </div>
      <div>
          <label for="street">Street: </label>
          <input type="text" [(ngModel)]="address.street" name="address.street">
        </div>
        <div>
            <label for="city">City: </label>
            <input type="text" [(ngModel)]="address.city" name="address.city">
          </div>
          <div>
              <label for="state">State: </label>
              <input type="text" [(ngModel)]="address.state" name="address.state">
            </div>
    </form>
  </div>


  <ul>
    <li>Name: {{name}}</li>
    <li>Age: {{age}}</li>
    <li>Email: {{email}}</li>
    <li>{{address.street}} {{address.city}} {{address.state}}  </li>
  </ul>

  <h3>Hobbies</h3>
  <form (submit)="addHobby(hobby.value)">
    <div>
      <label for="hobby">Hobby:</label>
      <input type="text" #hobby>
    </div>
  </form>
  <ul>
      <li *ngFor="let bob of hobbies; let i=index">{{i+1}} : {{bob}} <button (click)="deleteHobby(bob)">X</button></li>
  </ul>


  <h1>Posts : </h1>

  <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <h5>{{post.body}}</h5>
  </div>
  <a name="targetname"></a>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

